__pycache__

Automatic Chessboard Recognition from Real-World Images Using Deep Learning.docx

image_test

model/detect/chess_corners/*.png
model/detect/chess_corners/*.jpg
model/detect/chess_corners/*.csv

model/detect/chess_pieces/*.png
model/detect/chess_pieces/*.jpg
model/detect/chess_pieces/*.csv

model/detect/chess_pieces1/*.png
model/detect/chess_pieces1/*.jpg
model/detect/chess_pieces1/*.csv

resources/ChessRender360/*

*idea

model\detect\chess_pieces_1\weights\bestv2.pt
model\detect\chess_pieces_1\weights\bestv3.pt
model\detect\chess_pieces_1\

test.py

*.png
*.jpg


*json
image_test
model/detect/chess_pieces1

test.py
test1.py
.idea

